body{
  background-image: url(bg-image.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 100% 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.nav-area ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.nav-area ul li {
  width: 20%;
}
.nav-area ul li:hover > ul {
  display: flex;
}
.nav-area ul li > ul li {
  width: 100%
}
.nav-area ul li > ul {
  display: none;
}
.nav-area a {
  text-transform: uppercase;
  display: block;
  background: #262626;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.nav-area a:hover{
  background: #e84393;
  color: #fff;
}
.nav-area .dropdown li > a {
  background: #000;
  color: #fff;
}
.nav-area .dropdown li > a:hover {
  background: #e84393;
}
